@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 84% 4.9%;
    --card: 210 40% 100%;
    --card-foreground: 222 84% 4.9%;
    --popover: 210 40% 100%;
    --popover-foreground: 222 84% 4.9%;
    --primary: 243 79.5% 59.4%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 190 95% 58%;
    --accent-foreground: 222 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 243 79.5% 59.4%;
    --radius: 0.5rem;
    --chart-1: 243 79.5% 59.4%;
    --chart-2: 190 95% 58%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 222 47.4% 11.2%;
    --sidebar-foreground: 210 40% 96.1%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 210 40% 98%;
  }

  .dark {
    --background: 222 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 243 79.5% 59.4%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 190 95% 58%;
    --accent-foreground: 222 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 243 79.5% 59.4%;

    --sidebar-background: 222 47.4% 11.2%;
    --sidebar-foreground: 210 40% 96.1%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
