@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-rotate {
    animation: rotate 20s linear infinite;
}

.animate-rotate-reverse {
    animation: rotate 20s linear infinite reverse;
}

@keyframes pulse-grow {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.pulse-grow {
    animation: pulse-grow 3s infinite;
}


@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-dash-out {
  animation: dash 1.5s ease-in-out infinite;
}

.animate-dash-in {
  animation: dash 1.5s ease-in-out infinite;
  animation-delay: 0.75s; /* Stagger the animation */
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-20px);
        opacity: 1;
    }
    100% {
        transform: translateY(80px);
        opacity: 0;
    }
}

.animate-fall {
    animation: fall 1.5s linear infinite;
}
